<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section

        class="w-full h-full min-h-screen bg-[url(../static/img/engin-akyurt-Hlkuojv_P6I-unsplash.jpg)] bg-no-repeat bg-cover bg-right">
        </div>
        <div class="relative z-20 flex justify-center lg:justify-start lg: items-center min-h-screen min-w-full">
            <div
                class="w-full max-w-md bg-[#186060] text-white font-sans rounded-md px-6 bg-opacity-10 py-12 mx-2 lg:ml-24">
                <div class="flex flex-col justify-center items-start space-y-2">
                    <span class="uppercase text-gray-300 text-sm font-bold">Start for Free</span>
                    <h1 class="text-4xl font-extrabold">Signup with Google <span class="text-[#00d8f0]">.</span></h1>
                </div>
                <div class="w-full mt-8">
                   
                        <div class="flex flex-row items-center space-x-1">
                            <div class="w-1/6 cursor-pointer">
                                <div
                                    class=" w-12 h-12 rounded-full bg-[#AA5CDB66] flex items-center justify-center space-x-3">
                                    <img class="w-8 h-8" src="../static//img/google.svg" alt="">
                                </div>
                            </div>
                            <div class="w-5/6">
                              <button onclick="location.href='/login-by-google';"
                              class="w-full bg-white text-[#186060] font-mono font-extrabold text-xl py-3 rounded-full group relative overflow-hidden"
                              type="button"> <!-- Notice 'button' type here instead of 'submit' -->
                          <span class="w-[800px] h-[600px] mt-14 absolute top-0 left-0 bg-[#AA5CDB66] group-hover:-rotate-12 group-hover:-mt-20
                                      group-hover:-left-12 transition-all duration-700 ease-in-out"></span>
                          <span class="relative group-hover:text-white">Sign up</span>
                      </button>
                      
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>